<div class="w-full h-full flex flex-col gap-6 justify-center items-center bg-gray-900">

  <div class="flex flex-col w-full justify-center items-center gap-2">
    <h1 class="font-bold text-white text-5xl">BILLING MANAGEMENT</h1>

    <div class="flex flex-row justify-center items-center w-full gap-2">
      <button (click)="handlerCreateNewDatabase()" class="bg-white w-1/6 h-8">CREATE NEW DATABASE</button>
      <button (click)="handlerSelectDatabase()" class="bg-white w-1/6 h-8">SELECT DATABASE</button>
    </div>

  </div>

  <input type="password" class="w-2/6 h-12 text-white p-2 bg-gray-900 border-2 border-gray-600" placeholder="Password for unlock"/>
  <button class="bg-white w-2/6 h-8">UNLOCK</button>

</div>
